// Spacing
$max-width: 1440px;

// Borders
$border-radius: 16px;

// Colors
$brand-color-one: #8760FF;
$brand-color-two: #0A1153;
$copy-grey: #393939;
$black: #000000;  
$white: #ffffff;


// Typography
$font: 'Poppins', sans-serif;
$font-secondary: 'Poppins', sans-serif;
